<%- include("../partials/head"); %>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img src="<%=src %>" alt="QR Code">
        <br>
        <a href="/qrcode" role="button" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../partials/footer"); %>